"" Source your .vimrc
"source ~/.vimrc

" Don't use Ex mode, use Q for formatting.
map Q gq

" Use the OS clipboard by default (on Mac, this is the unnamed register "+)
set clipboard+=unnamedplus

let mapleader=","

" 设置快捷映射
set easymotion
nmap s <Plug>(easymotion-s)
nmap S <Plug>(easymotion-S)
set sneak
"nmap t <Plug>(sneak-s)
"nmap tt <Plug>(sneak-S)
map ff <Plug>Sneak_s
map FF <Plug>Sneak_S
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

" map <leader>d to start debug
" map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
" map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

" github ideavimrc configs
set incsearch
set number
set hlsearch
set ignorecase smartcase
set showmode
" 显示相对行号
set relativenumber

set wrap "自动折行

set scrolloff=3
" 设置命令历史记录条数
set history=100000
" 中英文自动切换,这里使用 IdeaVimExtension 插件可解决
set keep-english-in-normal-and-restore-in-insert

" clear the highlighted search result
nnoremap <esc> :nohlsearch<cr>

" previous method
noremap [[ <ESC>:action MethodUp<CR>
" next method
noremap ]] <ESC>:action MethodDown<CR>

nnoremap <silent> <S-j> 6j
nnoremap <silent> <S-k> 6k

" Window operation
nnoremap <Leader>ww <C-W>w
nnoremap <Leader>wd <C-W>c
nnoremap <Leader>wj <C-W>j
nnoremap <Leader>wk <C-W>k
nnoremap <Leader>wh <C-W>h
nnoremap <Leader>wl <C-W>l
nnoremap <Leader>ws <C-W>s
" nnoremap <Leader>w- <C-W>s
nnoremap <Leader>wv <C-W>v
" nnoremap <Leader>w\| <C-W>v

" Tab operation
nnoremap tn gt
nnoremap tp gT

" ==================================================
" Show all the provided actions via `:actionlist`
" ==================================================

" built in search looks better
" nnoremap / :action Find<CR>
" but preserve ideavim search
" nnoremap <Leader>/ /
" nnoremap / /

nnoremap <Leader>;; :action CommentByLineComment<CR>


nnoremap <Leader>cv :action ChangeView<CR>


" 隐藏激活窗口
nnoremap <Leader>h :action HideActiveWindow<CR>

" 跳转
nnoremap ga :action GotoAction<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap fp :action FindInPath<CR>

    " 全局分类搜索
"nnoremap <Leader>gs :action FileStructurePopup<CR>

    " 打开变量结构信息
" 显示当前文件的文件路径
nnoremap <Leader>fp :action ShowFilePath<CR>

nnoremap <Leader>ic :action InspectCode<CR>

nnoremap <Leader>pm :action ShowPopupMenu<CR>

" 运行和调试
nnoremap <Leader>rc :action RunToCursor<CR>
nnoremap <Leader>rC :action ChooseRunConfiguration<CR>
nnoremap <Leader>rr :action Rerun<CR>

nnoremap <Leader>br :action ViewBreakpoints<CR>
nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>
nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>

" 重命名
nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rf :action RenameFile<CR>

nnoremap <Leader>se :action SearchEverywhere<CR>
nnoremap <Leader>su :action ShowUsages<CR>
nnoremap <Leader>tc :action CloseActiveTab<CR>
nnoremap <Leader>si :action StepInto<CR>

nnoremap <Leader>tb :action ToggleLineBreakpoint<CR>

nnoremap <Leader>tt <CR>:action ActivateTerminalToolWindow<CR>


nnoremap <Leader>fu :action FindUsages<CR>

" 复制短暂显示高亮
set highlightedyank

" 折叠
nnoremap zc zC
    " 折叠光标下所有代码
nnoremap zm zM
    " 折叠所有代码，设置 foldlevel=0，设置 foldenable
nnoremap zr zR
    " 打开所有代码，设置 foldlevel 为最大值

noremap <D-o> <C-o>
    " 跳转到上一个编辑位置
noremap <D-i> <C-i>
    " 跳转到下一个编辑位置

"nnoremap <D-o> :action Back<cr>
    " IDEA 自带的后退
"nnoremap <D-i> :action Forward<cr>
    " IDEA 自带的前进
noremap <A-O> :action GotoPreviousError<CR>
    " 上一个错误，idea快捷键：<S-F2>
noremap <A-I> :action GotoNextError<CR>
    " 下一个错误，idea快捷键：<F2>
