"" Source your .vimrc
"source ~/.vimrc

" Don't use Ex mode, use Q for formatting.
map Q gq

" Use the OS clipboard by default (on Mac, this is the unnamed register "+)
set clipboard+=unnamedplus

let mapleader=","

" 设置快捷映射
set easymotion
nmap s <Plug>(easymotion-s)
nmap S <Plug>(easymotion-S)
set sneak
"nmap t <Plug>(sneak-s)
"nmap tt <Plug>(sneak-S)
map ff <Plug>Sneak_s
map FF <Plug>Sneak_S
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

" map <leader>d to start debug
" map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
" map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

" github ideavimrc configs
set incsearch
set number
set hlsearch
set ignorecase smartcase
set showmode
" 显示相对行号
set relativenumber

set scrolloff=3
" 设置命令历史记录条数
set history=100000
" 中英文自动切换,这里使用 IdeaVimExtension 插件可解决
":set keep-english-in-normal-and-restore-in-insert

" clear the highlighted search result
nnoremap <esc> :nohlsearch<cr>
inoremap jj <Esc>

" previous method
noremap [[ <ESC>:action MethodUp<CR>
" next method
noremap ]] <ESC>:action MethodDown<CR>

nnoremap <silent> <S-j> 6j
nnoremap <silent> <S-k> 6k
" 映射 Cmd + J 到 Ctrl + Option + J
nnoremap <D-j> <C-<M-j>>

" Window operation
" 光标跳转到下一个窗口
nnoremap <Leader>ww <C-W>w
" 关闭当前窗口
nnoremap <Leader>wd <C-W>c
" 窗口光标切换
nnoremap <Leader>wj <C-W>j
nnoremap <Leader>wk <C-W>k
nnoremap <Leader>wh <C-W>h
nnoremap <Leader>wl <C-W>l
" 拆分水平窗口
nnoremap <Leader>ws <C-W>s
" 拆分垂直窗口
nnoremap <Leader>wv <C-W>v
" 在普通模式下，将 ,u 映射为取消拆分窗口
nnoremap <Leader>u :action UnsplitAll<CR>

" Tab operation
nnoremap tn gt
nnoremap tp gT

" ==================================================
" Show all the provided actions via `:actionlist`
" ==================================================

" built in search looks better
" nnoremap / :action Find<CR>
" but preserve ideavim search
" nnoremap <Leader>/ /
" nnoremap / /

nnoremap <Leader>;; :action CommentByLineComment<CR>


nnoremap <Leader>cv :action ChangeView<CR>

" 跳转
nnoremap ga :action GotoAction<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap fp :action FindInPath<CR>

    " 全局分类搜索
"nnoremap <Leader>gs :action FileStructurePopup<CR>

    " 打开变量结构信息

" 运行和调试
nnoremap <Leader>rc :action RunToCursor<CR>
" 打开运行窗口
nnoremap <Leader>rC :action ChooseRunConfiguration<CR>
" 运行
nnoremap <Leader>rr :action Rerun<CR>
" 查看所有断点
nnoremap <Leader>br :action ViewBreakpoints<CR>
" 打开调试窗口
nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>
// 添加调试点
nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>

" 重命名
nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rf :action RenameFile<CR>

"nnoremap <Leader>si :action StepInto<CR>
"nnoremap <Leader>su :action ShowUsages<CR>
"nnoremap <Leader>tc :action CloseActiveTab<CR>
"nnoremap <Leader>tb :action ToggleLineBreakpoint<CR>
"nnoremap <Leader>tt <CR>:action ActivateTerminalToolWindow<CR>
"nnoremap <Leader>fu :action FindUsages<CR>

" 复制短暂显示高亮
set highlightedyank

" 折叠
nnoremap zc zC
    " 折叠光标下所有代码
nnoremap zm zM
    " 折叠所有代码，设置 foldlevel=0，设置 foldenable
nnoremap zr zR
    " 打开所有代码，设置 foldlevel 为最大值

noremap <D-o> <C-o>
    " 跳转到上一个编辑位置
noremap <D-i> <C-i>
    " 跳转到下一个编辑位置

"nnoremap <D-o> :action Back<cr>
    " IDEA 自带的后退
"nnoremap <D-i> :action Forward<cr>
    " IDEA 自带的前进
noremap <A-O> :action GotoPreviousError<CR>
    " 上一个错误，idea快捷键：<S-F2>
noremap <A-I> :action GotoNextError<CR>
    " 下一个错误，idea快捷键：<F2>

"" Enable VimMulticursor
set multicursor

" Quick search-select
map <Leader>q <Plug>(multicursor-ms/)

" Quick cursor add/apply
map <Leader>z <Plug>(multicursor-mcc)
map <Leader>Z <Plug>(multicursor-mci)

" Word-based selections
"map <Leader>w <Plug>(multicursor-msw)
"map <Leader>b <Plug>(multicursor-msb)
"map <Leader>d <Plug>(multicursor-mcd)
"map <Leader>r <Plug>(multicursor-mcr)

" mc/ + 搜索：在所有出现的搜索正则表达式处添加光标。
" z ：在当前位置添加或删除光标高亮（预览模式）
" mcc ：在当前位置添加或删除光标高亮（预览模式）
" mcr ：将光标突出显示转换为活动编辑光标
" mcd ：删除所有光标和高亮
